@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao My Library app</h1>
    <p>O aplicativo My Library é um app de gestão de emprestimos de livros que possíbilita você a organizar seu acervo de forma prática e eficaz.</p>
</div>
