@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao My Library App</h1>
    <p>O My Library é um app de controle de acervo para bibliotecas e sebôs.</p>
</div>
