@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <p>O My Library App é uma aplicação de gestão de acervo que possibilita você ter o controle de toda sua biblioteca de forma rápida e fácil com apenas alguns clicks.</p>
</div>
